body{
    background-image: linear-gradient(blue, green);
  }
#rcorners1{
  border-radius: 25px;
  background:#43CD91;
  padding: 20px;
}
h1, h2, h3, h4, h5{
  color:white;
}
.lead{
  color:white;
}
img{
  height:180px;
  width:180px;
  border-radius:45px;
}
.card{
  background-color:	#00bfff;
  border-radius: 60px;
}
.card-body{
  border-radius:25px;
}
ul{
  border-radius:25px;
}
